#friends-display-link {
    background-color: #fafafa;
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: -10px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}


.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

/* Splash Screen */

@keyframes hideSplashScreen {
    from { 
        opacity: 1;
        transform: scale(1);
    } to {
        opacity: 0;
        transform: scale(10);
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    animation: hideSplashScreen 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}